# Compiled class files (covers manual javac runs outside /out or /bin)
*.class

# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# Temp files
_temp/

# Runtime data (task list saved by Storage; recreated on next run)
/data/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT
